/* base styles */
body {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  height: 100vh;
  background: linear-gradient(
    to top right,
    #212529,
    #343a40,
    #495057,
    #868e96,
    #adb5bd
  );
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
